spring.application.name=moabet
spring.datasource.url=jdbc:mysql://localhost:3307/moabet?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
spring.datasource.driverClassName=com.mysql.cj.jdbc.Driver
spring.datasource.username=moabet_app
spring.datasource.password=senha_app_aqui
spring.jpa.database-platform=org.hibernate.dialect.MySQL8Dialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

api.security.token.secret=your-secret-key-here
